*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
}

body{
    background: linear-gradient(151deg, rgba(90,14,38,1) 0%, rgba(56,23,44,1) 8%, rgba(23,31,49,1) 50%, rgba(56,23,44,1) 92%, rgba(90,14,38,1) 100%);
}

#content{
    height: 100vh;
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 
header{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 500;

}
header h1 span{
    color: #ab0626;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8px;
    align-items: flex-end;
    font-size: 14px;
}
footer a{
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
}
footer a svg{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    fill: #ab0626;
}

img{
    margin-bottom: 1px;
}

.video{
    margin-top: 10px;
    margin-bottom: 10px;    
}

